p {
    font-size: 56px;
}

h1 {
    margin: 10px;
}

.class2 {
    background-color: lightblue;
    padding: 10px;
}
a:link, a:visited {
    color: rgb(83, 41, 3);
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(110, 127, 34);
    text-decoration: underline;
}
.padding {
    padding: 20px;
}
